/* Section 1 - Main */
.sec1{
  width: 100%;
  height: 100vh;
  border: 0px 1px 1px 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec1 .text h1{
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #5b85f1;
  font-size: 2.5rem;
}

.sec1 .text p{
  font-size: 1.2rem;
}

.back-shapes{
  position: absolute;
  right: 0px;
  top: 30px;
  z-index: -1;
  display: flex;
  overflow: hidden;
}

.back-shapes .shape-div{
  width: 400px;
  height: 30vh;
  background: linear-gradient(to right, #75cdff, #5b85f1); 
  border-radius: 0% 0% 0% 50px;
}

.back-shapes2{
  position: absolute;
  left: 0;
  bottom: -53px;
  z-index: -1;
}

.shape-div2{
  width: 400px;
  height: 30vh;
  background: linear-gradient(to left, #75cdff, #5b85f1); 
  border-radius: 0% 50px 0px 0%;
}

@media only screen and (max-width: 600px) {
  .sec1 {
    padding: 80px 20px;
  }

  .text {
    text-align: center;
  }

  .text h1 {
    font-size: 20px; 
  }

  .text p {
    font-size: 16px; 
  }

  .back-shapes .shape-div{
    width: 300px;
    height: 25vh;
  }

  .back-shapes2{
    bottom: -52px;
  }

  .back-shapes2 .shape-div2{
    width: 300px;
    height: 20vh;
  }
}
